.container {
    height: 100vh;

    .header {
        margin: 0 1rem;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;

        div {
            background-color: black;
            border-radius: 1%;
            box-shadow: 2px 3px 6px 2px rgb(86, 86, 86);
            color: whitesmoke;
            display: flex;
            flex-direction: column;
            max-width: 30%;
            height: 50rem;
            margin: 1rem;
            padding: 0.5rem;
            
            h1 {
                text-align: center;
                font-size: 2rem;
            }
        }
    }

    .main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

        .login {
            a {
                font-size: x-large;
                color: rgb(66, 66, 141);
                transition: all 500ms ease-in-out;
            }
            a:hover {
                font-size: xx-large;
                color:rgb(7, 7, 7);
            }
        }
    }
    
    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        margin: 0.5rem;
        padding: 0.5rem;
        line-height: 1.5;
        text-align: center;
        
        .logo {
            position: relative;
            top: 0.15rem;
        } 
    } 
}